img{
    width: 100%;
   
}

span{
    margin: 20px;
}
.sA{
   
    padding: 3px 10px;
    border-radius:20px;
    background-color: black;
    color: white;
}
.m{
    font-weight: bold;
}
button{
    margin-left: 10px
}
.frm{
    margin-top: 0px;
}

.frm input{
    width: 80%;
    height: 20px;
    margin-top: 8px;
    padding: 7px;
  
}
.frm button{
  width: 100px;
  height: 40px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: grey;
  color: black;
  font-weight: bold;
}
.topm{
    margin-top: 5px;
}